<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honger.expo.dao.ExhibitionMapper">
    <select id="getExhibitionByCondition" resultType="com.honger.expo.pojo.Exhibition">
        select * from `exhibition` where 1=1
        <if test="country!=''">
            and  country = #{country}
        </if>
        <if test="categories!=''">
            and  category_id = #{categories}
        </if>
        <if test="maxYmdFromYM!=''">
            and  ((Date(start_time) &lt;= #{maxYmdFromYM} and Date(start_time) &gt;= #{minYmdFromYM})
            or (Date(end_time) &lt;= #{maxYmdFromYM} and Date(end_time) &gt;= #{minYmdFromYM}))
        </if>
        and `delete` = 0 order by start_time
    </select>

    <select id="searchExhibition" resultType="com.honger.expo.pojo.Exhibition">
        select A.* from exhibition A
        left join exhibition_detail B
        on A.id = B.exhibition_id
        where (A.title like CONCAT('%',#{condition},'%')
        or B.`description` like CONCAT('%',#{condition},'%')
        or B.`brief_info` like CONCAT('%',#{condition},'%'))
        and A.`delete` = 0 and B.`delete` = 0 order by start_time
    </select>

    <select id="getTotalNumByConditon" resultType="java.lang.Integer">
        select count(*) from `exhibition` where 1=1
        <if test="country!=''">
            and  country = #{country}
        </if>
        <if test="categories!=''">
            and  category_id = #{categories}
        </if>
        <if test="maxYmdFromYM!=''">
            and  ((Date(start_time) &lt;= #{maxYmdFromYM} and Date(start_time) &gt;= #{minYmdFromYM})
            or (Date(end_time) &lt;= #{maxYmdFromYM} and Date(end_time) &gt;= #{minYmdFromYM}))
        </if>
        and `delete` = 0
    </select>

    <select id="getTotalNumBySearch" resultType="java.lang.Integer">
        select count(*) from exhibition A
        left join exhibition_detail B
        on A.id = B.exhibition_id
        where (A.title like CONCAT('%',#{condition},'%')
        or B.`description` like CONCAT('%',#{condition},'%')
        or B.`brief_info` like CONCAT('%',#{condition},'%'))
        and A.`delete` = 0 and B.`delete` = 0
    </select>

    <select id="getDetial" resultType="com.honger.expo.dto.vo.ExhibitionAndDetailVO">
        select A.*,B.id,description,brief_info,C.file_url,C.file_name from exhibition A
        left join exhibition_detail B
        on A.id = B.`exhibition_id`
        left join file C
        on B.id = C.`type_id` where A.id = #{exhibitionId}
    </select>

    <select id="getHomePage" resultType="com.honger.expo.dto.vo.ExhibitionHomePage">
        select C.*,B.`is_carousel`,B.`is_choice`,B.`is_hot` from homepage_hot_config A
        left join tb_category_exhibition B
        on A.id = B.`homepage_id`
        left join exhibition C
        on B.`exhibition_id` = C.id
    </select>

    <select id="getExhibitonByIsChoice" resultType="com.honger.expo.pojo.Exhibition">
        select A.* from `exhibition` A
        left join `tb_category_exhibition` B
        on A.id = B.`exhibition_id` where B.`is_choice` = 1 and A.`delete` = 0 and B.`delete` = 0
    </select>

    <select id="selectExhibtionById" resultType="com.honger.expo.pojo.Exhibition">
        select * from exhibiton where id = #{exhibitionId} and `delete` = 0
    </select>
</mapper>