<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honger.expo.dao.ExhibitionCountMapper">
    <select id="selectExistByExhibitionId" resultType="java.lang.Integer">
        select count(*) from `click_count` where `clicked_id` = #{exhibitionId} and `delete`=0 and `click_type`=0;
    </select>

    <insert id="insertExhibitonIdCount">
        INSERT INTO `click_count` (`id`, `clicked_id`, `create_time`,
        `update_time`,`click_type`)
        VALUES
	    (#{id}, #{clickedId}, #{createTime}, #{updateTime},#{clickType});
    </insert>

    <update id="updateExhibitionIdCount">
        update `click_count` set count = count + 1 where `clicked_id` = #{exhibitionId} and  `click_type`=0;
    </update>

    <select id="selectCountByExhibitonId" resultType="java.lang.Integer">
        select `count` from `click_count` where `clicked_id` = #{exhibitionId} and `click_type` = 0
    </select>

    <select id="getTopClickExhibiton" resultType="com.honger.expo.pojo.ClickCount">
        select clicked_id,count from click_count  where click_type = 0 and `delete`=0 order by `count` desc
        <if test="top!=0">
            limit #{top}
        </if>
    </select>
</mapper>