<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honger.expo.dao.ExhibitionMapper">
    <!--<resultMap id="BaseResultMap" type="com.honger.expo.pojo.Exhibition">-->
        <!--<id column="id" property="id" jdbcType="VARCHAR"/>-->
        <!--<result column="title" property="title" jdbcType="VARCHAR"/>-->
        <!--<result column="subtitle" property="subtitle" jdbcType="VARCHAR"/>-->
        <!--<result column="thumbnail" property="thumbnail" jdbcType="VARCHAR"/>-->
        <!--<result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>-->
        <!--<result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>-->
        <!--<result column="location" property="location" jdbcType="VARCHAR"/>-->
        <!--<result column="category_id" property="categoryId" jdbcType="VARCHAR"/>-->
        <!--<result column="city" property="city" jdbcType="INTEGER"/>-->
        <!--<result column="country" property="country" jdbcType="INTEGER"/>-->
        <!--<result column="hot" property="hot" jdbcType="BIT"/>-->
        <!--<result column="has_carousel" property="hasCarousel" jdbcType="BIT"/>-->
        <!--<result column="tag" property="tag" jdbcType="VARCHAR"/>-->
        <!--<result column="`delete`" property="`delete`" jdbcType="BIT"/>-->
        <!--<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>-->
        <!--<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>-->
    <!--</resultMap>-->

    <!--<sql id="Base_Column_List">-->
    <!--id, title, thumbnail, start_time, end_time, location, category_id, city, hot, tag, -->
    <!--`delete`, create_time, update_time-->
    <!--</sql>-->

    <!--<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">-->
        <!--select-->
        <!--<include refid="Base_Column_List"/>-->
        <!--from exhibition-->
        <!--where id = #{id,jdbcType=INTEGER}-->
    <!--</select>-->

    <!--<select id="selectHotCategory" resultType="String">-->
        <!--select category_id-->
        <!--from honger_web.exhibition-->
        <!--where hot = 1-->
        <!--<if test="start_time != null and start_time != ''">-->
            <!--<![CDATA[ AND start_time <= TO_DATE(TO_CHAR(sysdate,'YYYY-MM-DD hh:MM:ss'),'YYYY-MM-DD hh:MM:ss')]]>-->
        <!--</if>-->

        <!--<if test="end_time != null and end_time != ''">-->
            <!--<![CDATA[ AND end_time >= TO_DATE(TO_CHAR(sysdate,'YYYY-MM-DD hh:MM:ss'),'YYYY-MM-DD hh:MM:ss')]]>-->
        <!--</if>-->
        <!--and ``delete`` = 0;-->
    <!--</select>-->

    <!--<select id="selectAllShuffles" resultType="com.honger.expo.pojo.Exhibition">-->
        <!--SELECT * FROM honger_web.exhibition WHERE-->
        <!--has_carousel = 1 and ``delete`` = 0 order by hot desc limit 0, 5;-->
    <!--</select>-->
    <select id="getExhibitionByCondition" resultType="com.honger.expo.pojo.Exhibition">
        select * from `exhibition` where 1=1
        <if test="country!=''">
            and  country = #{country}
        </if>
        <if test="categories!=''">
            and  category_id = #{categories}
        </if>
        <if test="maxYmdFromYM!=''">
            and  ((Date(start_time) &lt;= #{maxYmdFromYM} and Date(start_time) &gt;= #{minYmdFromYM})
            or (Date(end_time) &lt;= #{maxYmdFromYM} and Date(end_time) &gt;= #{minYmdFromYM}))
        </if>
        and `delete` = 0 order by start_time
    </select>

    <select id="searchExhibition" resultType="com.honger.expo.pojo.Exhibition">
        select A.* from exhibition A
        left join exhibition_detail B
        on A.id = B.exhibition_id
        where (A.title like CONCAT('%',#{condition},'%')
        or B.`description` like CONCAT('%',#{condition},'%'))
        and A.`delete` = 0 and B.`delete` = 0 order by start_time
    </select>

    <select id="getTotalNum" resultType="java.lang.Integer">
        select count(*) from exhibition
    </select>

    <select id="getDetial" resultType="com.honger.expo.dto.vo.ExhibitionAndDetailVO">
        select A.*,B.id,description,brief_info,C.file_url,C.file_name from exhibition A
        left join exhibition_detail B
        on A.id = B.`exhibition_id`
        left join file C
        on B.id = C.`type_id` where A.id = #{exhibitionId}
    </select>
</mapper>