<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honger.expo.dao.ExhibitionDetailMapper">
    <resultMap id="BaseResultMap" type="com.honger.expo.pojo.ExhibitionDetail">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="exhibition_id" property="exhibitionId" jdbcType="VARCHAR"/>
        <result column="delete" property="delete" jdbcType="BIT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.honger.expo.pojo.ExhibitionDetailWithBLOBs" extends="BaseResultMap">
        <result column="description" property="description" jdbcType="LONGVARCHAR"/>
        <result column="file_id" property="fileId" jdbcType="LONGVARCHAR"/>
        <result column="picture" property="picture" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, exhibition_id, `delete`, create_time, update_time
    </sql>
    <sql id="Blob_Column_List">
        description,file_id, picture
    </sql>

    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from exhibition_detail
        where id = #{id,jdbcType=VARCHAR}
    </select>
</mapper>