<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honger.expo.dao.FileResourceMapper">
    <select id="getFileResourceById" resultType="com.honger.expo.pojo.FileResource">
        select * from file where id = #{id} where `delete` = 0
    </select>
</mapper>