<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honger.expo.dao.FlowSrcMapper">
    <insert id="insert" parameterType="com.honger.expo.pojo.FlowSrc" >
        insert into flow_src (`id`, `src`, `uid`, `create_time`, `update_time`, `company`,
        `client_name`, `address`, `qq_no`, `email`, `mobile_no`,`exhibition`,`material`,`application_type`,`src_type`)
        values
        (#{id},#{src},#{uid},#{createTime},#{updateTime},#{company},#{clientName},
        #{address},#{qqNo},#{email},#{mobileNo},#{exhibition},#{material},#{applicationType},#{srcType})
    </insert>

    <update id="update" parameterType="com.honger.expo.pojo.FlowSrc">
        UPDATE flow_src SET
        <if test="company!=null">
            company = #{company},
        </if>
        <if test="clientName!=null">
            client_name = #{clientName},
        </if>
        <if test="address!=null">
            address = #{address},
        </if>
        <if test="qqNo!=null">
            qq_no = #{qqNo},
        </if>
        <if test="email!=null">
            email = #{email},
        </if>
        <if test="mobileNo!=null">
            mobile_no = #{mobileNo},
        </if>
        <if test="applicationType!=null">
            application_type = #{applicationType},
        </if>
        <if test="material!=null">
            application_type = #{material},
        </if>
        update_time = #{updateTime}
        where id = #{id}
    </update>

    <select id="isMobileUnique" resultType="java.lang.String">
        select mobile_no from flow_src where mobile_no = #{mobileNo} and src_type = '0' and `exhibition` = #{exhibitionId};
    </select>
</mapper>

