<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honger.expo.dao.RegionDataMapper">
    <select id="selectCondition" resultType="com.honger.expo.pojo.RegionData">
      select A.`name_en`,A.id,A.`name_pinyin`,A.name from `region_data`  A
      left join `region_data` B on
      A.pid = B.id where 1=1 and A.level = 2
      <if test="continent!=''">
          and B.`name_en` = #{continent}
      </if>
  </select>

    <select id="getRegionIdByCountryName" resultType="java.lang.String">
        select id from region_data where name = #{country}
    </select>

    <select id="getRegionCityById" resultType="com.honger.expo.pojo.RegionData">
        select name,name_en,name_pinyin from region_data where id = #{city}
    </select>

    <select id="getRegionCountryById" resultType="com.honger.expo.pojo.RegionData">
        select name,name_en,name_pinyin from region_data where id = #{country}
    </select>

    <select id="getRegionCountryByContinent" resultType="com.honger.expo.pojo.RegionData">
        select distinct B.id,B.name,B.name_en,B.name_pinyin from visa A
        left join `region_data` B
        on A.`country` = B.`id`
        where A.`continent` = #{continent}
    </select>
</mapper>