<!-- Wrapper-->
<div id="wrapper">


    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" >

        <!-- Page wrapper -->
        <div ng-controller="TopBarController" ng-include="'view/common/topnavbar.html'"></div>

        <!-- Main view  -->
        <div ui-view></div>


        <!-- Footer -->
        <div class="right-nav" scroll hide-element-id="top-nav" show-status="showJumpNav" ng-hide="!showJumpNav || inhome">
            <div class="right-floating-layer min">
                <div class="layer-box return-top" ng-click="jumpToHead('top-nav')">
                    <span><i class="fas fa-chevron-up"></i><br>顶部</span>
                </div>
            </div>
        </div>



    </div>
    <div ng-include="'view/common/footer.html'"></div>
    <div ng-include="'view/common/mobile-nav.html'"></div>
    <!-- End page wrapper-->


</div>

<!-- End wrapper-->