<div class="row border-bottom white-bg hide-mobile-nav">
    <nav class="navbar navbar-static-top" role="navigation" style="    padding-top: 0px;
    padding-left: 20px;
    min-height: 46px; !important;">
        <div class="input-group">
            <input type="text" placeholder="Admin Theme" name="search" class="form-control input-lg">
            <div class="input-group-btn">
                <button class="btn btn-lg btn-primary" type="submit">
                    Search
                </button>
            </div>
        </div>
    </nav>
</div>
