<div id="mobile-nav-bar" class="hide-mobile-nav">
    <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
        <div class="row" id="bottomNav">
            <div class="col-xs-3 text-center"><a ui-sref="home.view"><i class="fas fa-home"></i><br>首页</a></div>
            <div class="col-xs-3 text-center"><a ui-sref="category.view"><i class="fas fa-list"></i></i><br>分类</a></div>
            <div class="col-xs-3 text-center"><a ui-sref="list.condition.hot({hot:true})"><i class="fab fa-hotjar"></i><br>热门</a></div>
            <div class="col-xs-3 text-center"><a ui-sref="news.list"><i class="far fa-newspaper"></i><br>资讯</a></div>
        </div>
    </div>
</div>


<script>
    var currentLocation = window.location.href;
    if (currentLocation.indexOf("detail") > 0 || currentLocation.indexOf("/hot") > 0) {
        $('#mobile-nav-bar').css('display', 'none');
    }
</script>
q
